/* Styl dla guzika "ŁADUJ" */
.guzik-laduj {
    width: 230px;
    height: 230px;
    background-color: transparent;
    background-image: url('images/laduj.png');
    background-size: cover;
    opacity: 0.1;
    filter: brightness(0.01);
    transition: opacity 1s ease, filter 1s ease;
    font-size: var(--font-size, 20px);
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-black);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-black);
    --bs-btn-hover-bg: #a7499400;
    --bs-btn-hover-border-color: #a7499400;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #88487f00;
    --bs-btn-active-border-color: #88487f00;
}

/* Styl dla aktywnego guzika "ŁADUJ" */
.guzik-laduj.show, .guzik-laduj:hover {
    opacity: 1;
    filter: brightness(1);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.5s ease;
    filter: brightness(1) saturate(2);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 1);
}