
/* Styl dla obrazka z dopasowaniem do kontenera */
.object-fit-sm-contain {
    object-fit: cover;
}
/* Definiuje obszar pola bitwy */
#battlefield {
    position: relative;
    width: 550px;
    height: 500px;
    margin: 0 auto;
    /*background-color: #f0f0f08c;
    border: 1px solid #ccc;*/
}

/* Klasa definiująca wygląd i rozmiar czołgów */
.tank {
    position: absolute;
    width: 50px;
    height: 150px;
}

/* Styl dla czołgu stojącego na środku pola bitwy */
#target-tank {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styl dla linii reprezentującej trajektorię strzału */
#shot-path {
    position: absolute;
    border-top: 1px dashed red;
    height: 0;
    transform-origin: 0 50%;
}

/* Styl dla zaznaczania odległości na mapach */
.point {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #ffffff; /* Biały obrys */
}

.point.green {
    background: radial-gradient(circle at 10% 70%, #adff9d, #56b800);
}

.point.red {
    background: radial-gradient(circle at 10% 70%, #ff9696, #a00000);
}

.line {
    stroke: rgb(255, 255, 255);
    stroke-dasharray: 4;
}

#image-container {
    position: relative;
    max-width: 1000px;
    max-height: 1000px;
    width: 100%;
}

#image {
    width: 100%;
    height: auto;
    border: 5px solid #063000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legend {
    margin-right: 20px;
}

.legend .dot-green {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: radial-gradient(circle at 10% 70%, #adff9d, #56b800);
    margin-right: 5px;
    border: 2px solid #ffffff; /* Biały obrys */
}

.legend .dot-red {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: radial-gradient(circle at 10% 70%, #ff9696, #a00000);
    margin-right: 5px;
    border: 2px solid #ffffff; /* Biały obrys */
}

#distance {
    font-size: 1.75rem;
    font-weight: bold;
    margin-right: auto; /* Ustawia na środku */
}

